<!DOCTYPE html>
<html lang="fr" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <title>Exercice 1 angular partie4</title>
</head>
<body>
    <div class="container-fluid">

                <button ng-click="count = count + 1" ng-init="count=0">
                  MORE 1
                </button>
                <span>
                  count: {{count}}
                </span>
                <button ng-click="count = count - 1" ng-init="count=0">LESS 1</button>
            </div>




</body>
</html>
